STM32 - Codici/10 - Dual ADC/BsGO/22Na/22Na_raw.csv
STM32 - Codici/10 - Dual ADC/BsGO/Buio/buio_raw.csv
STM32 - Codici/10 - Dual ADC/YAlG_3/Buio/buio_raw.csv
STM32 - Codici/10 - Dual ADC/YAlG_3/22Na/22Na_raw.csv
